@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-ginger: rgba(249, 228, 214, 1);
  --color-redleather: rgba(173, 76, 78, 1);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Literata Variable', serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-black, currentColor);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1em;
}

@utility prose {
  --tw-prose-body: var(--color-black);
  --tw-prose-headings: var(--color-black);
  --tw-prose-lead: var(--color-black);
  --tw-prose-links: var(--color-black);
  --tw-prose-bold: var(--color-black);
  --tw-prose-counters: var(--color-black);
  --tw-prose-bullets: var(--color-black);
  --tw-prose-hr: var(--color-black);
  --tw-prose-quotes: var(--color-black);
  --tw-prose-quote-border: var(--color-black);
  --tw-prose-captions: var(--color-black);
  --tw-prose-code: var(--color-black);
  --tw-prose-pre-code: var(--color-black);
  --tw-prose-pre-bg: var(--color-black);
  --tw-prose-th-borders: var(--color-black);
  --tw-prose-td-borders: var(--color-black);
  --tw-prose-quote-borders: var(--color-black);
}
